<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="header.css">
    <title>Navigation</title>

</head>

<body>
    <!-- Navigation bar content -->
    <nav class="navbar4-links1">
        <span class="thq-link thq-body-small">  <a href="../../index.html" class="thq-link thq-body-small"><span>Home</span></a></span>
        <span class="thq-link thq-body-small">
            <a href="/components/About/about.html" class="thq-link thq-body-small"><span>About</span></a>
        </span>
        <span class="thq-link thq-body-small">
            <a href="/components/Services/services.html" class="thq-link thq-body-small"><span>Services</span></a>
        </span>
        <span class="thq-link thq-body-small">
            <a href="/components/Contact/contact.html" class="thq-link thq-body-small"><span>Contact</span></a>
        </span>
        <!-- <span class="thq-link thq-body-small">
          <span>Link5</span>
        </span> -->
    </nav>
    <script>

        $(document).ready(function () {
            console.log("ready!");
            try {
                console.log("Script is running...");
                var links = document.querySelectorAll('.navbar4-links1 a');
                var currentUrl = window.location.href;
                links.forEach(function (link) {

                    if (link.href === currentUrl) {
                        link.style.borderBottom = "2px solid black";
                    }
                });
            } catch (error) {
                console.error("An error occurred:", error);
            }
        });

    </script>
</body>

</html>